body {
  background-color: rgb(52, 203, 249);
}
.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
.header-box {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 40px 0;
}

table,
th,
td {
  border: 1px solid;
}
